.videoContainer{
    padding: 10px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 16px;
    box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 12px 24px rgba(0, 0, 0, 0.08);
}

.youtubeStyle iframe {
  width: 100%;
  height: 600px;
  border: none;
  border-radius: 16px;
}

.videoTitle{
    border-left: 5px solid #104675;
}

.badgeStyle{
    border-radius: 50%;
    background: #CFA711;
}

.cardItemList{
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;
    border-radius: 16px;
    box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 12px 24px rgba(0, 0, 0, 0.08);
}


.card {
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}

.image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.body {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 18px;
    position: relative;
}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #CFA711;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
}

.icon img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.content {
    flex: 1;
}

.content h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.content p {
    margin-top: 6px;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

.number {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 56px;
    height: 56px;

    background: #104675;
    color: #fff;

    clip-path: polygon(100% 0, 100% 100%, 0 100%);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding-right: 10px;
    padding-bottom: 8px;

    font-size: 16px;
    font-weight: bold;
}

.section {
  background: #f2f3ef;
  padding: 60px 20px;
}

.banner {

  background: 
  linear-gradient(
    90deg,
    rgba(13, 0, 100, 0.95) 0%,
    rgba(13, 0, 100, 0.75) 30%,
    rgba(13, 0, 100, 0.45) 60%,
    rgba(13, 0, 100, 0.2) 80%,
    rgba(13, 0, 100, 0) 100%
  ),
  url("/13698.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .youtubeStyle iframe {
        width: 100%;
        height: 190px;
        border: none;
        border-radius: 16px;
    }
}